body {
    background-color: #369EFD;
}

.navHeader {
    align-items: right;
    background-color: white;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;    
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
      
} 

.button {
    font: 18px Arial;
    text-decoration: none;
    background-color: #366CFD;
    color: white;
    padding: 10px 10px 10px 10px;
}   

.signup {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-top: 4px double #1C6EA4;
    border-left: 4px double #1C6EA4;
    border-right: 4px double #1C6EA4;
    border-bottom:  4px double #1C6EA4;
    width: 15%;    
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto; 
    padding: 0px 0px 50px 50px; 
}

#input {
    width: 75%;
    font-size: 15px;
    padding: 12px 10px 12px 10px;
}

#buttonTwo {
    background-color: #366CFD;
    border-color: #366CFD;
    width: auto;
    font-size: 18px;
    color: white;
    padding: 8px 90px 8px 90px;
}